APP_PORT=3000
APP_DOMAIN=teamsix.blog
APP_NAME="Hack Academy Blog"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ha_db
DB_USERNAME=root
DB_PASSWORD=root

MAIL_USER=example@gmail.com
MAIL_PASSWORD=pasword
MAIL_HOST= "smtp.gmail.com"
MAIL_PORT=465